build:
  type: text
  content: >-
    #!/bin/sh

    cd $ROOST_WORK_DIR/git/Priyanshii677/A-simple-search-bar-which-shows-city-names-based-on-the-input-value-entered.

    # make all

    # docker build
deploy:
  type: text
  content: >-
    #/bin/sh

    cd $ROOST_WORK_DIR/git/Priyanshii677/A-simple-search-bar-which-shows-city-names-based-on-the-input-value-entered.

    # kubectl apply -f <file>.yaml

    # helm install <helm-folder> -n <ns>
test: []
Last Updated By: Priyanshi Somani
Last Updated On: 2022-07-12T11:31:48.168Z
Deleted: "True"
lastUpdatedBy: Priyanshi Somani
lastUpdatedOn: 2022-07-22T15:20:19.675Z
