TF_Content: |-
  #!/bin/sh

  terraform init
  terraform apply --auto-approvekkkkk
TF_Repo:
  id: ''
  key: A-simple-search-bar-which-shows-city-names-based-on-the-input-value-entered.
  title: Priyanshii677/A-simple-search-bar-which-shows-city-names-based-on-the-input-value-entered.
  owner: Priyanshii677
TF_Branch: main
TF_Git_path: ''
TF_Uninstall: jktnedwmls
CDK_Content: |-
  #!/bin/sh

  CDK init
  CDK apply --auto-approve
CDK_Repo:
  key: A-simple-search-bar-which-shows-city-names-based-on-the-input-value-entered.
  title: Priyanshii677/A-simple-search-bar-which-shows-city-names-based-on-the-input-value-entered.
  owner: Priyanshii677
  default_branch: main
  id: 512260113
CDK_Branch: main
CDK_Git_path: ''
CDK_Uninstall: |-
  #!/bin/sh
  CDK destroyhjrvecfndxms
lastUpdatedBy: Priyanshi Somani
lastUpdatedOn: 2022-10-04T06:01:57.574Z
