TF_Content: |-
  #!/bin/sh

  terraform init
  terraform apply --auto-approve
TF_Repo:
  key: A-simple-search-bar-which-shows-city-names-based-on-the-input-value-entered.
  title: Priyanshii677/A-simple-search-bar-which-shows-city-names-based-on-the-input-value-entered.
  owner: Priyanshii677
  default_branch: main
  id: 512260113
TF_Branch: main
TF_Git_path: /
TF_Uninstall: |-
  #!/bin/sh

  terraform destroy
lastUpdatedBy: Priyanshi Somani
lastUpdatedOn: 2022-09-23T07:11:01.688Z
