TF_Content: |-
  #!/bin/sh

  terraform init
  terraform apply --auto-approvekkkkk
TF_Repo:
  id: ''
  key: A-simple-search-bar-which-shows-city-names-based-on-the-input-value-entered.
  title: Priyanshii677/A-simple-search-bar-which-shows-city-names-based-on-the-input-value-entered.
  owner: Priyanshii677
TF_Branch: main
TF_Git_path: ''
TF_Uninstall: jktnedwmls
lastUpdatedBy: Priyanshi Somani
lastUpdatedOn: 2022-10-04T03:41:12.714Z
